body {
    margin: 0;
    padding: 0;
    background: url('../imagenes/fondos/fondo-principal.gif') no-repeat center/cover fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Barra de navegación*/
.navbar {
    padding: 1rem 2rem;
}

.navbar-brand .logo-navbar {
    width: 100px;
}

.nav-link {
    color: white;
    margin-right: 1rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: red;
}

/*Hilera de iconos de redes */
.redes-sociales {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icono-red img {
    width: 40px;
    transition: transform 0.3s;
}

.icono-red img:hover {
    transform: scale(1.2);
}

.contenedor-bienvenida {
    display: none;
}

/*Contenedores*/
.contenedor-biografia,
.contenedor-shows,
.contenedor-recuerdos,
.contenedor-parte-de-mi,
.contenedor-alma,
.contenedor-naiki,
.contenedor-videoclips,
.contenedor-la-voz,
.contenedor-vina,
.contenedor-la-firma,
.contenedor-galeria,
.contenedor-alumna {
    background: no-repeat center/cover fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 20px 20px;
    box-sizing: border-box;
}

/*Contenidos*/
.contenido-biografia,
.contenido-shows,
.contenido-galeria {
    background: rgba(0, 0, 0, 0.92);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
    color: white;
    text-align: left;
    flex-wrap: wrap;
}

/*Biografía*/
.img-biografia {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
}

.texto-biografia {
    flex: 1;
    text-align: center;
}

.texto-biografia h1 {
    font-size: 40px;
}

.texto-biografia p {
    font-size: 20px;
    line-height: 1.5;
}

/*Shows*/
.img-shows,
.img-gif-alma,
.img-naiki,
.img-parte-de-mi,
.img-shows {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
}

.texto-shows {
    flex: 1;
}

.texto-shows h1 {
    font-size: 40px;
}

.texto-shows p {
    font-size: 20px;
}


/* Videoclips*/
.contenido-videoclips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}

.nombre-videoclips {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    background: rgba(236, 233, 233, 0.5);
}

.miniatura {
    width: 100%;
    max-width: 560px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.miniatura:hover {
    transform: scale(1.05);
}

.boton-video {
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.boton-video:hover {
    background-color: #444;
}

/*Viña*/
.img-vina {
    text-align: center;
    width: 100%;
    padding: 10px;
}

.img-vina img {
    max-width: 100%;
    height: auto;
    margin: 20px;
}

/*Realitys */
.contenido-realitys {
    background: rgba(0, 0, 0, 0.99);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
    color: white;
    text-align: center;
    flex-wrap: wrap;
}

.titulo-reality {
    font-size: 40px;
    margin-bottom: 15px;
}

.texto-realitys {
    font-size: 20px;
}

.banner-reality {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 20px;
}

.video {
    width: 100%;
    max-width: 560px;
    max-height: 315px;
    border-radius: 10px;
}

.contenedor-iframe {
    display: flex;
    justify-content: center;
    width: 100%;
}

/*Galeria*/
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.galeria img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

/* Ventana */
.ventana-emergente {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.96);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

/* Contenido de la imagen */
.contenido-imagen {
    position: relative;
    max-width: 90%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-imagen img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 80vh;
}

/* Botones */
.cerrar,
.anterior,
.siguiente {
    position: absolute;
    background: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    z-index: 10000;
}

.cerrar {
    top: 10px;
    right: 10px;
}

.anterior,
.siguiente {
    top: 50%;
    transform: translateY(-50%);
}

.anterior {
    left: 10px;
}

.siguiente {
    right: 10px;
}

/*Prensa*/
.titulo-prensa {
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
    color: white;
}

.contenedor-prensa {
    background: url('../imagenes/fondos/fondo-prensa.gif') center/cover fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 20px 20px;
    box-sizing: border-box;
}

.contenido-entrevistas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90%;
    text-align: center;
    color: white;
}

.videos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.contenido-entrevistas iframe {
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

/*Alumna*/
.contenedor-alumna {
    background: url('../imagenes/fondos/fondo-alumna.gif') center/cover fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

/* Tarjeta */
.tarjeta {
    width: 100vw;
    max-width: 600px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;

}

.tarjeta-flip {
    width: 100%;
    height: 300px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.tarjeta.flipped .tarjeta-flip {
    transform: rotateY(180deg);
}

.tarjeta-frontal,
.tarjeta-trasera {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: block;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.tarjeta-frontal {
    background-color: #630663;
    padding: 90px;
}

.tarjeta-trasera {
    background-color: #d8218c;
    ;
    transform: rotateY(180deg);
    padding: 45px;

}

/*Formulario*/
.contenedor-contacto {
    background: url('../imagenes/fondos/fondo-contacto.gif') center/cover fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
    box-sizing: border-box;
    width: 100%;
}

.seccion-contacto {
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #440000;
    border-radius: 10px;
    background-color: #c0a5a5;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.titulo-contacto {
    text-align: center;
    color: black;
    font-size: 25px;
    margin-bottom: 15px;
}

.campo-texto {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #440000;
    border-radius: 4px;
    font-size: 16px;
    display: block;
}

.area-mensaje {
    height: 100px;
    resize: none;
}

.boton-enviar {
    width: 100%;
    padding: 10px;
    background-color: #610c0c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.boton-enviar:hover {
    background-color: #440000;
}

.mensaje-respuesta {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: red;
}

label {
    display: block;
    margin-bottom: 8px;
}

.estilo-radio,
.estilo-checkbox {
    margin-right: 8px;
}

/*Juego*/
#juego-memoria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    max-width: 400px;
    margin: 80px auto 20px;
    padding: 10px;
}

.carta-memoria {
    background-color: #47216b;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s ease-in-out;
}

.carta-memoria:hover {
    background-color: #630663;
    transform: scale(1.08);
}

/* Responsive */
@media (max-width: 768px) {
    body {
        background-position: 50% center;
    }

    .contenido-biografia {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        width: 95%;
    }

    .img-biografia {
        width: 90%;
        margin-top: 20px;
    }

    .redes-sociales {
        position: fixed;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 1000;
    }

    .icono-red img {
        width: 40px;
        transition: transform 0.3s;
    }

    .icono-red img:hover {
        transform: scale(1.2);
    }

    .galeria img {
        max-width: 150px;
    }

    .contenido-imagen {
        max-width: 95%;
    }

    .cerrar {
        top: 5px;
        right: 5px;
    }

    .nombre-videoclips {
        font-size: 24px;
    }

    .tarjeta {
        width: 90vw;
        max-width: 300px;
    }

    .seccion-contacto {
        padding: 15px;
        margin: 20px;
    }

    .titulo-contacto {
        font-size: 22px;
    }

    .campo-texto,
    .area-mensaje,
    .boton-enviar {
        font-size: 14px;
    }

    .campo-texto,
    .area-mensaje {
        padding: 6px;
    }

    label {
        font-size: 14px;
    }


    .boton-enviar {
        font-size: 14px;
    }

    .tarjeta {
        max-width: 90vw;
        height: auto;
    }

    .tarjeta-frontal,
    .tarjeta-trasera {
        font-size: 16px;
        padding: 50px;
    }

    .contenido-entrevistas iframe {
        width: 100%;
        max-width: 400px;
        border-radius: 10px;
    }

    #juego-memoria {
        max-width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }
}